<div class="border-form-div">
<div class="container">
<div class="enter">
   <%= form_for :vehiculo, :url => { :action => :create, :validate => true } do |f| %>

    <% if vehiculo.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(vehiculo.errors.count, "error") %> </h2>

      <ul>
       <% vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
      </ul>
     </div>
    <% end %>

    <div class="form-group">
     <%= f.text_field :descripcion, autofocus: true, placeholder: "Descripción", class: "form-control" %>
     <%= f.text_field :modelo, autofocus: true, placeholder: "Model", class: "form-control" %>
     <%= f.text_field :color, autofocus: true, placeholder: "Color", class: "form-control" %>
     <%= f.text_field :matricula, autofocus: true, placeholder: "Matricula", class: "form-control" %>
     <%= f.text_field :marca, autofocus: true, placeholder: "Marca", class: "form-control" %>
     <%= f.text_field :km, autofocus: true, placeholder: "Kilometraje", class: "form-control" %>
     <%= f.text_field :chasis, autofocus: true, placeholder: "Chasis", class: "form-control" %>

    </div>

    <%= f.submit "Aceptar", class: "btn btn-success" %>
   <% end %>
    
  </div>
 </div>
</div>

