<div class="border-form-div">
<div class="container">
<div class="enter">
   <%= form_for :vehiculo, :url => { :action => :create, :validate => true } do |f| %>

  <div class="boton_redirect">&larr;
  <%= link_to 'Volver a Lista de Vehiculos', vehiculo_index_path%>
</div><br>

    <div class="form-group">
      <p>
          <%= label_tag "Cliente" %> <br>
          <%= f.
          collection_select( :cliente_id, Cliente.all, :id, :nombre, class: "form-control", id: "user-select", :prompt => "Seleccione Cliente" ) %>
      </p>
      <p>
     <%= f.text_field :matricula, autofocus: true, placeholder: "Matricula", class: "form-control" %>
      </p>
      <p>
     <%= f.text_field :chasis, autofocus: true, placeholder: "Chasis", class: "form-control" %>
      </p>
      <p>
     <%= f.text_field :marca, autofocus: true, placeholder: "Marca", class: "form-control" %>
      </p>
      <p>
         <%= f.text_field :modelo, autofocus: true, placeholder: "Modelo", class: "form-control" %>
      </p>
      <p>
         <%= f.text_field :tipo, autofocus: true, placeholder: "Tipo", class: "form-control" %>
      </p>
      <p>
     <%= f.text_field :color, autofocus: true, placeholder: "Color", class: "form-control" %>
      </p>
      <p>
         <%= f.text_field :año, autofocus: true, placeholder: "Año Fab.", class: "form-control" %>
      </p>
      <p>
     <%= f.text_field :km, autofocus: true, placeholder: "Kilometraje", class: "form-control" %>
      </p>
      

    </div>

    <%= f.submit "Guardar", class: "btn btn-success form-control" %>
   <% end %>  
  </div>
 </div>
</div>

