<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Clientes</div>
  <div class="panel-body">


<div class="container-fluid">
  <div class="enter">

<div class="jumbotron text-justify">

<p id="notice"><%= notice %></p>
<div class="group">
<p>
  <strong> Ruc:</strong>
  <%= @cliente.documento %>
</p>
<p>
  <strong> Nombres:</strong>
  <%= @cliente.nombre %>
</p>
<p>
  <strong> Apellidos:</strong>
  <%= @cliente.apellido %>
</p>
<p>
  <strong> Dirección:</strong>
  <%= @cliente.direccion %>
</p>
<p>
  <strong> Telefono:</strong>
  <%= @cliente.telefono %>
</p>
<p>
  <strong> Email:</strong>
  <%= @cliente.email %>
</p>
</div>
<center>
<%= button_to vehiculo_new_add_path(@cliente.id), {method: :get, class: "btn btn-success"} do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Cargar Vehiculo del cliente
        <% end %>
</center> 
<div class="boton_redirect">&larr;
  <%= link_to 'Volver a la lista', cliente_index_path %>|
<%= link_to 'Editar', cliente_edit_path(@cliente.id) %>&rarr;
</div>     
</div>
</div>
</div>
</div>
</div>
</div>

