<div class="container-fluid">
<h1 align="center">Proveedores</h1>

<div class="boton_redirect">
	<%= link_to 'Ir a Pedidos', proveedor_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Nuevo Proveedor', proveedor_new_path%> &rarr;
</div><br>
<div class="input-group">
  <span class="input-group-addon">Buscar</span>
  <input id="filtrar" type="text" class="form-control" placeholder="Ingresa la canción de este Disco que deseas Buscar...">
</div>
<%=form_tag proveedor_index_path, method: :get, remote: true, id:"search-form", :style => 'padding-left:4em;font-family:bold;' do %>
	<%= label_tag "Filtrar"%>
	<%= text_field_tag :search, params[:keyword] %>
	<%= submit_tag "Buscar", class:"btn btn-primary" %>
<%end%>
<table class="table table-hover">
	  <thead class="thead-dark">
	<tr><TH>ID</TH>
		<TH>Nombres</TH>
		<TH>Apellidos</TH>
		<TH>Dirección</TH>
		<TH>Teléfono</TH>
		<TH colspan="3">Doc-RUC</TH>

		<TH colspan="2"><%= link_to 'Nuevo', proveedor_new_path , class: "btn btn-link"%></TH></tr>
</thead>
	<tbody class="buscar">

	<% @proveedores.each do |f| %>

	<tr><TD><%= f.id %></TD>
		<TD><%= f.nombre %></TD>
		<TD><%= f.ruc %></TD>
		<TD><%= f.direccion %></TD>
		<TD><%= f.telefono %></TD>
		<TD colspan="3"><%= f.documento %>-<%= f.ruc%></TD>


		<TD><%= link_to 'Editar', proveedor_edit_path(f['id']) , class: "btn btn-link"%></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } , class: "btn btn-danger"%>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
<footer>
<div class="boton_redirect">
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div><br>
</footer>
</div>
