<div class="container">

<div class="panel panel-default">
  <div class="panel-body">
<div class="container-fluid">
<%= form_with(model: funcion, local: true) do |form| %>
  <% if funcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcion.errors.count, "error") %> prohibited this funcion from being saved:</h2>

      <ul>
        <% funcion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
</div>
</div>