<!-- para mostrar errores -->
<div class="border-form-div">
<div class="container">
<div class="enter">
<div class="boton_redirect">&larr;
  <%= link_to 'Volver a Lista', repuesto_servicio_index_path%>
</div><br>
<!-- formulario -->

  	<p >
		<%= f.text_field :codigo, class: "form-control", placeholder: "Código del Producto" %>
	</p>
  	<p>
		<%= f.text_field :descripcion, class: "form-control" , placeholder: "Descripción"%>
	</p>
	<p>
		<%= f.text_field :costo , class: "form-control", placeholder: "Costo" %>
	<p>
		<%= f.text_field :precio_venta, class: "form-control", placeholder: "Precio Venta" %>
	</p>
	<p>
 	<p>
		<%= f.label :categoria%>
		<%= f.collection_select( :categoria, Funcion.all, :id, :descripcion, class: "form-control", :value => 'Stock') %>
	</p>


  <%= f.submit "Guardar" , class: 'btn btn-primary mb-2 form-control' %>
  </p>
</div>
</div>
</div>
