<!-- para mostrar errores -->
<div class="container">
<div class="enter">

<div class="boton_redirect">&larr;
  <%= link_to 'Volver a Lista de clientes', repuesto_servicio_index_path%>
</div><br>
<ul  >
<%
@repuesto_servicio.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>


<!-- formulario -->

  	<p >
<%= f.label :Codigo %> </br>
<%= f.text_field :codigo, class: "form-control" %>
	</p>
  <p>
<%= f.label :Descripción%> </br>
<%= f.text_field :descripcion, class: "form-control" %>
</p>

	<p>
<%= f.label :Costo %> </br>
<%= f.text_field :costo , class: "form-control"%>

<p>
<%= f.label :Precioventa%> </br>
<%= f.text_field :precio_venta, class: "form-control" %>
</p>
<p>
<%= f.label :categoria%> </br>
<%= f.check_box :categoria, {:class => "anyclass", :style => "anystyle"}, "Repuesto" %>
<%= f.check_box :categoria, {:class => "anyclass", :style => "anystyle"}, "Servicio" %>

</p>
<%= radio_button_tag(:categoria, "child") %>
  <p>
  <%= f.submit "Guardar" , class: 'btn btn-primary mb-2 form-control' %>
  </p>
</div>

</div>
