
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Tipo de Factura</div>
  <div class="panel-body">

<div class="container-fluid">

<%= form_with(model: tipo_factura, local: true) do |form| %>
  <% if tipo_factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_factura.errors.count, "error") %> prohibited this tipo_factura from being saved:</h2>

      <ul>
        <% tipo_factura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %><br>
    <%= form.text_field :descripcion , class: "form-control"%><br>
  </div>

  <div class="actions">
    <%= form.submit "Editar", class: 'btn btn-primary form-control'%>
  </div>
<% end %>
  </div>
  </div>
  </div>
  </div>
  </div>
