<!-- para mostrar errores -->
<div class="border-form-div">
<div class="container">
<div class="enter">

<div class="boton_redirect">&larr;
  <%= link_to 'Volver a Lista de Compras', compra_index_path%>
</div><br>
<ul  >
<%
@compra.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>


<!-- formulario -->
<p>
<%= f.label :"Fecha"%> </br>
<%= f.date_field :fecha, :class => "text_field", :required => true%>
</p>

 <p >
<%= f.label :"Número de Factura" %> </br>
<%= f.text_field :num_fact, class: "form-control" %>
</p>

 <p >
<%= f.label :"Tipo de Factura" %> </br>
<%= f.collection_select( :tipo_factura_id, TipoFactura.all, :id, :descripcion, class: "form-control") %>

</p>
 <p >
<%= f.label :Proveedor %> </br>
<%= f.collection_select( :proveedor_id, Proveedor.all, :id, :nombre, class: "form-control") %>

</p>

<div class="panel-body" id="sale-details">
          <%#= (@compra.detalle_compra.count > 0) ? render(partial: 'table', locals: { compra: @compra, show_actions: true }) : 'No hay detalles cargados' %>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-5 text-center">
            <%= link_to "Nuevo detalle", compra_detalle_compra_new_path(@compra.id), remote: true, class: "btn btn-info" %>
          </div>
        </div>
        <br>
        <% message = (action_name == 'edit') ? "Volver" : "Aceptar" %>
        <%= f.submit message, class: "btn btn-success" %>
          <div class="modal fade" id="new-detail-modal" title="Modal"></div>
    </div>


<p>
<%= f.label :"Total IVA"%> </br>
<%= f.text_field :total_iva, class: "form-control" %>
</p>

	<p>
<%= f.label :Total %> </br>
<%= f.text_field :total , class: "form-control"%>

<p>
<%= f.label :Saldo%> </br>
<%= f.text_field :saldo, class: "form-control" %>
</p>
<p>
<%= f.label :Estado%> </br>
<%= f.text_field :estado, class: "form-control" %>
</p> 

  <p>
  <%= f.submit "Guardar" , class: 'btn btn-primary mb-2 form-control' %>
  </p>
</div>

</div>
</div>